.quote-button-position {
  position: fixed !important;
  z-index: 1;
  bottom: 20px;
  right: 20px;
}

.quote-button-icon-position {
  margin-top: -8px !important;
}

.load-height {
  height: 100px !important;
}
