<div class="no-bock w-50 pr-3">
  <div class="row">
    <div class="col-2 text-center">
      <img
        alt="company logo"
        [src]="icon"
      >
    </div>

    <div class="col-10">
      <div class="row">
        <div *ngIf="showCancelButton" class="col-12">
          <div class="no-bock w-100">
            <button
              type="button"
              color="primary"
              mat-stroked-button
              (click)="unselectFile()"
            >
              <em class="mdi mdi-close"></em>
            </button>
          </div>
        </div>

        <div *ngIf="!showCancelButton" class="col-12">
          <div class="no-bock w-100">
            <button
              color="accent"
              type="button"
              mat-stroked-button
              [disabled]="disabled"
              (click)="openFileDialog()"
            >
              Sube tu logotipo
              <em class="mdi mdi-upload"></em>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
