<div
  class="w-100 alert"
  [class.alert-error]="type === 'error'"
  [class.alert-info]="type === 'info'"
  [class.alert-warn]="type === 'warn'"
>
  <div class="row">
    <div class="col-1 text-center">
      <em *ngIf="type === 'error'" class="mdi mdi-alert-octagram-outline mdi-36px"></em>
      <em *ngIf="type === 'info'" class="mdi mdi-alert-circle-outline mdi-36px"></em>
      <em *ngIf="type === 'warn'" class="mdi mdi-alert-outline mdi-36px"></em>
    </div>

    <div class="col-11">
      <strong>{{ message }}</strong>
    </div>
  </div>
</div>
