<form [class.p-4]="data" [formGroup]="form" (ngSubmit)="save()">
  <h5 *ngIf="!data">Si ya tienes una compañía y la quieres usar en este presupuesto, puedes seleccionarla</h5>

  <mat-form-field *ngIf="!data" class="w-100" appearance="outline">
    <mat-label>Tus compañías</mat-label>

    <mat-icon matSuffix>
      <em class="mdi mdi-domain mdi-26px mdi-input"></em>
    </mat-icon>

    <input
      type="text"
      placeholder="Selecciona una compañía"
      matInput
      formControlName="company"
      [matAutocomplete]="auto"
    >
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="onSelectCompany()"
      (closed)="onSelectCompany()"
    >
      <mat-option *ngFor="let company of filteredCompanies" [value]="company.name">
        <em class="mdi mdi-alpha-c-circle-outline" [ngStyle]="{ color: company.color }"></em>
        {{ company.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <app-input-file formControlName="logoUrl"></app-input-file>

  <mat-form-field class="w-50 mobile-w-100" appearance="outline">
    <mat-label>Nombre</mat-label>
    <input
      matInput
      placeholder="ElctroCopu"
      formControlName="name"
      required
    >

    <mat-error>No puede haber una compañía sin nombre</mat-error>
  </mat-form-field>

  <mat-form-field class="w-50 mobile-w-100 pr-3 mobile-pr-0" appearance="outline">
    <mat-label>Eslogan</mat-label>
    <input
      matInput
      placeholder="Por que tirar, cuando puedes reparar!"
      formControlName="slogan"
      required
    >

    <mat-error>
      Recuerda que el eslogan es muy importante para que tu compañía sea recordada,
      por eso no puede haber una compañía sin eslogan
    </mat-error>
  </mat-form-field>

  <mat-form-field class="w-50 mobile-w-100" appearance="outline">
    <mat-label>Titulo</mat-label>
    <input
      matInput
      placeholder="Electronica, reparación de computadoras y servicios técnicos"
      formControlName="title"
    >
  </mat-form-field>

  <app-alert
    *ngIf="companyMessageError"
    type="error"
    [message]="companyMessageError"
  ></app-alert>

  <div *ngIf="data" class="text-right">
    <button
      mat-stroked-button
      class="mr-2"
      color="accent"
      type="button"
      [disabled]="load"
      (click)="close()"
    >
      Cancelar
      <em class="mdi mdi-close"></em>
    </button>

    <button
      mat-stroked-button
      color="accent"
      [disabled]="load"
    >
      Actualizar
      <em *ngIf="!load" class="mdi mdi-hand-okay"></em>
      <em *ngIf="load" class="mdi mdi-loading mdi-spin"></em>
    </button>
  </div>

  <div *ngIf="!data" class="text-right">
    <button
      mat-stroked-button
      color="accent"
      [disabled]="load"
    >
      ¡Listo!
      <em *ngIf="!load" class="mdi mdi-hand-okay"></em>
      <em *ngIf="load" class="mdi mdi-loading mdi-spin"></em>
    </button>
  </div>
</form>
