<form [formGroup]="form">
  <mat-form-field class="w-50 pr-3" floatLabel="always" appearance="outline">
    <mat-label>Mano de obra</mat-label>

    <mat-icon matSuffix>
      <em class="mdi mdi-cash-multiple mdi-26px mdi-input"></em>
    </mat-icon>

    <input
      matInput
      appInputMask
      placeholder="Last name, First name"
      [mask]="moneyMask"
    >
  </mat-form-field>

  <mat-form-field class="w-50" appearance="outline">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <app-alert
    type="info"
    message="¿Ya sabes cuanto quieres cobrar? - Si aun no sabes aún puedes dejar el campo en 0.0"
  >
  </app-alert>
</form>

