<form [formGroup]="form" (ngSubmit)="save()" [class.p-4]="data">

  <mat-form-field *ngIf="data" class="w-50 pr-3" appearance="outline">
    <mat-label>Compañía</mat-label>
    <mat-select formControlName="companyUuid">
      <mat-option *ngFor="let company of companies" [value]="company.uuid">
        {{ company.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="data" class="w-50" appearance="outline">
    <mat-label>Cliente</mat-label>
    <mat-select formControlName="clientUuid">
      <mat-option *ngFor="let client of clients" [value]="client.uuid">
        {{ client.name }} {{ client.surname }}  {{ client.motherSurname }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-50 pr-3" floatLabel="always" appearance="outline">
    <mat-label>Mano de obra</mat-label>

    <mat-icon matSuffix>
      <em class="mdi mdi-cash-multiple mdi-26px mdi-input"></em>
    </mat-icon>

    <input
      matInput
      appInputMask
      formControlName="workforce"
      [mask]="moneyMask"
    >
  </mat-form-field>

  <mat-form-field class="w-50" appearance="outline">
    <mat-label>Fecha de creación</mat-label>
    <input
      matInput
      formControlName="createDate"
      autocomplete="off"
      [matDatepicker]="picker"
      (keydown)="$event.preventDefault()"
    >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <app-alert
    type="info"
    message="¿Ya sabes cuanto quieres cobrar? - Si no sabes aún puedes dejar el campo en 0.0"
  >
  </app-alert>

  <div *ngIf="data" class="text-right">
    <button
      mat-stroked-button
      class="mr-2"
      color="accent"
      type="button"
      [disabled]="load"
      (click)="onCancel()"
    >
      Cancelar
      <em class="mdi mdi-close"></em>
    </button>

    <button
      mat-stroked-button
      color="accent"
      [disabled]="load"
    >
      Actualizar
      <em *ngIf="!load" class="mdi mdi-pencil"></em>
      <em *ngIf="load" class="mdi mdi-loading mdi-spin"></em>
    </button>
  </div>


  <div *ngIf="!data" class="text-right">
    <button
      mat-stroked-button
      color="accent"
      [disabled]="false"
    >
      ¡Ir a mi presupuesto!
      <em *ngIf="!false" class="mdi mdi-file-check"></em>
      <em *ngIf="false" class="mdi mdi-loading mdi-spin"></em>
    </button>
  </div>
</form>

