<div class="container">
  <div class="row pt-4">
    <div
      class="col-3 text-center"
      [class.success-text]="data.type === 'success'"
      [class.error-text]="data.type === 'error'"
    >
      <em
        class="mdi mdi-36px"
        [class.mdi-check]="data.type === 'success'"
        [class.mdi-close]="data.type === 'error'"
      >
      </em>
    </div>

    <div class="col-9 mb-3">
      <p>{{ data.message }}</p>
    </div>

    <div class="col-12 mt-3 text-right">
      <button
        mat-stroked-button
        [class.success-text]="data.type === 'success'"
        [class.error-text]="data.type === 'error'"
        (click)="close()"
      >
        Ok
        <em
          class="mdi mdi-thumb-up"
          [class.mdi-thumb-up]="data.type === 'success'"
          [class.mdi-thumb-down]="data.type === 'error'"
        >
        </em>
      </button>
    </div>
  </div>
</div>


