.circle-button {
  border-radius: 18px;
  width: 35px;
  height: 35px;
  background: transparent;
  border-color: transparent;
}

.close-container {
  position: relative;
}

.close-button-position {
  position: absolute;
  top: -36px;
  right: -20px;
}
