@import '~bootstrap/dist/css/bootstrap.css';
@import '~@mdi/font/scss/materialdesignicons';
@import '~src/assets/stylesheets/theme';
@import '~src/assets/stylesheets/display';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #fafafa; }
