@import '~bootstrap/dist/css/bootstrap.css';
@import '~@mdi/font/scss/materialdesignicons';
@import '~src/assets/stylesheets/theme';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-icon.material-icons.ng-star-inserted {
  background: green !important;
  font-weight: bold;
  border-radius: 10px;
  width: 23px;
  height: 23px;
  padding: 3px;
}
