@import "../../../node_modules/@angular/material/theming";
@include mat-core();

$my-primary: mat-palette($mat-indigo, 500);
$my-accent: mat-palette($mat-light-blue, 500);

$my-theme: mat-light-theme($my-primary, $my-accent);

@include angular-material-theme($my-theme);

@font-face {
  font-family: 'HachiMaruPop';
  src: url(~src/assets/fonts/HachiMaruPop-Regular.ttf)
}

.app-name-font {
  font-family: 'HachiMaruPop', sans-serif;
}

.app-name {
  font-family: 'HachiMaruPop', sans-serif;
  color: #FFFFFF;
  font-size: 24px;
}

.app-name-dark {
  font-family: 'HachiMaruPop', sans-serif;
  color: #3F51B5;
  font-size: 24px;
  font-weight: bold;
}

.mat-icon.material-icons.ng-star-inserted {
  background: green !important;
  font-weight: bold;
  border-radius: 10px;
  width: 23px;
  height: 23px;
  padding: 3px;
}

.mat-step-header {
  pointer-events: none !important;
}

.mdi-26px {
  font-size: 26px !important;
}

.mdi-input {
  color: #757575 !important;
}

.w-30 {
  width: 30% !important;
}

.mat-mini-fab {
  width: 26px !important;
  height: 26px !important;
  position: relative;
}

.mat-mini-fab>.mat-button-wrapper {
  position: absolute;
  margin-top: -20px;
  margin-left: -9px;
}

.mat-mini-fab-success {
  background: #4CAF50 !important;
}

.mat-mini-fab-error {
  background: #F44336 !important;
}

.pointer {
  cursor: pointer;
}

.normal-cursor {
  cursor: default;
}

.mat-spinner {
  margin:0 auto;
}

.options-button {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  padding: 2px;
  margin-left: 4px;
}

.title {
  color: #E91E63;
}

.scroll {
  overflow: auto;
}

body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  right: -5px;
  background: transparent !important;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(158, 158, 158, 0.8);
}
